---
import BaseLayout from "../layouts/BaseLayout.astro"
import FormeHero from "../components/FormeHero.astro"
---

<BaseLayout>
  <main>
    <h1>Repro</h1>
    <FormeHero />
    <div style="height: 300vh;"></div>
  </main>
</BaseLayout>