---
import BaseLayout from "../layouts/BaseLayout.astro"
import FormeHero from "../components/FormeHero.astro"
import SectionContact from "../components/SectionContact.astro"
---

<BaseLayout>
  <main>
    <h1>Repro</h1>
    <FormeHero />
    <a href="#contact">Jump to contact</a>
    <div style="height: 300vh;"></div>
    <SectionContact />
  </main>
</BaseLayout>
