---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro Vercel Lenis Repro</title>
  </head>
  <body>
    <slot />

    <script>
      import "../scripts/layout-base.ts"
    </script>
  </body>
</html>
