---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro Vercel Lenis Repro</title>
  </head>
  <body>
    <slot />

    <script>
      import Lenis from "lenis"

      let lenis

      const init = () => {
        lenis = new Lenis({
          duration: 1.2,
        })

        function raf(time) {
          if (lenis) {
            lenis.raf(time)
            requestAnimationFrame(raf)
          }
        }

        requestAnimationFrame(raf)
      }

      if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", init)
      } else {
        init()
      }
    </script>
  </body>
</html>
